<!-- Header -->
<%- include('include/header') %>
<!-- /Header -->
<div class="frm">
    <section id="stressCell">
        <h2>INQUIRY FORM</h2>
        <!-- Form Handling -->
        <%- include('RCL_Include/RCL_form') %>
        <!-- /Form Handling-->
    </div>
</section>

<!-- Footer -->
<%- include('include/footer') %>
<!-- /Footer -->