<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MINE</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="upper">
        <div class="left">
            <H2>NAME OF MINE </H2>
            <h3>SCCL</h3>
            <h3>PANEL NUMBER :</h3>
        </div>
        <div class="right">
            <h3>Brief information</h3>
            <h3>Panel length</h3>
            <h4>Width</h4>
            <h4>Reserve</h4>
            <h3>Pillar Dimensions:- 20*22</h3>
        </div>
    </div>


    <nav id="navbar">
        <ul>
            <li class="item"><a href="/">STRESS CELL</a></li>
            <li class="item"><a href="/AWTT">AWTT</a></li>
            <li class="item"><a href="/DHTT">DHTT</a></li>
            <li class="item"><a href="/RTT">RTT</a></li>
            <li class="item"><a href="/RCL">RCI</a></li>
        </ul>
    </nav>