<!-- form handling -->
<form action="">

    <div>
        <label for="stress cell">DHTT :</label>

        <select name="stress cell" id="stress cell">
            <option value="stress cell 1">DHTT 1</option>
            <option value="stress cell 2">DHTT 2</option>
            <option value="stress cell 3">DHTT 3</option>
            <option value="stress cell 4">DHTT 4</option>
        </select>
    </div>

    <div>
        <label for="date">DATE:</label>
        <input type="date" name="date" id="date">
    </div>

    <DIV>
        <label for="time">TIME:</label>
        <input type="time" name="time" id="time">
    </DIV>
    <DIV>
        <label for="condition">CONDITION:</label>
        WORKING <input type="radio" name="condition" id="condition" value="1">
        NON-WORKING <input type="radio" name="condition" id="condition" value="0">
    </DIV><br>

    <div id="working1">
        <!-- <div>IF WORKING</div>  -->
        <label for="value">VALUE:</label>
        <input type="text" name="value" id="value">
    </div> <br>

    <div id="working2">

        <label for="non-working">REASON:</label> <br>
        LOST INTO GOAF <input type="radio" name="non-working" id="non-working">
        MALFUNCTIONAL <input type="radio" name="non-working" id="non-working">
    </div>

    <div>
        <input type="submit" value="SUBMIT NOW" class="select">
    </div>
    <div>
        <input type="reset" value="RESET NOW" class="select">
    </div>
</form>
<!-- /form handling -->